// Break-points
$breakpoint-small: 480px;
$breakpoint-medium: 768px;
$breakpoint-large: 1024px;

@mixin respond-to($breakpoint) {
  @media (max-width: $breakpoint) {
    @content;
  }
}

.project-scope-recap {
  padding: 0 2.5rem;
  margin: 7rem 0;

  @include respond-to($breakpoint-small) {
    padding: 0 1rem;
    margin: 4rem 0;
  }

  @include respond-to($breakpoint-medium) {
    padding: 0 1.5rem;
    margin: 5rem 0;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;

    .title {
      font-size: 25px;
      font-weight: 700;
      color: #233735;

      @include respond-to($breakpoint-medium) {
        font-size: 20px;
        line-height: 20px;
      }

      @include respond-to($breakpoint-small) {
        font-size: 16px;
      }
    }

    .mutual-action-plan {
      display: flex;
      flex-direction: column;

      .info {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .heading {
          font-size: 14px;
          color: #7b8786;

          @include respond-to($breakpoint-small) {
            font-size: 10px;
          }
        }

        .percent {
          font-size: 14px;
          color: #00b686;
          font-weight: 800;

          @include respond-to($breakpoint-small) {
            font-size: 10px;
          }
        }
      }

      .progress {
        display: flex;
        align-items: center;
        gap: 3px;

        .item {
          background: #d3d7d7;
          width: 8px;
          height: 5px;

          &:first-child {
            background-color: #00b686;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
          }

          &:last-child {
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
          }
        }
      }
    }
  }

  .content {
    display: flex;
    gap: 1.5rem;
    align-items: flex-start;
  }
}
